@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', "Noto Sans JP", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
    font-variation-settings: 'wght' 450;
    font-variant: common-ligatures contextual;
    letter-spacing: -0.02em;
}