version: '3'
services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./tmp/db:/var/lib/mysql

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && ./bin/dev"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db

  # storybook:
  #   build: ./docker/storybook
  #   command: "yarn storybook --ci --quiet"
  #   volumes:
  #     - .:/app
  #   ports:
  #     - "6006:6006"
